<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pixelate Protocol</title>
  <link rel="icon" src="/favicon.ico" type="favicon ico">
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <style nonce="<%= cspNonce %>">
    .navbar {
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 10px;
      border-style: solid;      
      border-width: 1px;
      border-color: #0e0d10;
      margin-bottom: 25px;
      margin-left: 5px;
      margin-right: 5px;

    }
    

    .navbar-nav {
      display: flex;
      justify-content: center;
   
    }

    .nav-item {
      margin-right: 15px;
      border-width: 1px;
      border-style: solid;
      border-color: #0e0d10;
      border-radius: 5px;
    }

  </style>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="container-md" style="border-width: 2px;">
      <a class="navbar-brand fw-semibold fs-3 fw-900" href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="250" height="48.67" viewBox="0 0 200 38.938"  style="box-shadow: #0e0d10 2px 2.2px 1px 2px; border-radius: 2.2px;">
        <g id="Group_317" data-name="Group 317" transform="translate(9193 -7796)">
          <path id="Path_91" data-name="Path 91" d="M0,0H200V38.938H0Z" transform="translate(-9193 7796)" fill="#fff"/>
          <path id="Path_91_-_Outline" data-name="Path 91 - Outline" d="M.885.885V38.053h198.23V.885H.885M0,0H200V38.938H0Z" transform="translate(-9193 7796)" fill="#0e0f10"/>
          <g id="Group_316" data-name="Group 316" transform="translate(-9179.726 7807.344)">
            <rect id="Rectangle_32" data-name="Rectangle 32" width="11.242" height="11.242" transform="translate(0.012 0)" fill="#458ccb"/>
            <path id="Rectangle_32_-_Outline" data-name="Rectangle 32 - Outline" d="M.885.885v9.735h9.735V.885H.885M0,0H11.5V11.5H0Z" transform="translate(0 0.161)" fill="#0e0f10"/>
            <rect id="Rectangle_33" data-name="Rectangle 33" width="5.621" height="5.621" transform="translate(0.012 10.731)" fill="#458ccb"/>
            <path id="Rectangle_33_-_Outline" data-name="Rectangle 33 - Outline" d="M.885.885V4.867H4.867V.885H.885M0,0H5.752V5.752H0Z" transform="translate(0 10.78)" fill="#0e0f10"/>
          </g>
          <path id="Path_90" data-name="Path 90" d="M11.769-26.015a3.847,3.847,0,0,1-.469,1.858,3.445,3.445,0,0,1-1.469,1.4,5.343,5.343,0,0,1-2.522.531H5.238v4.743H2.76V-29.838H7.309a5.5,5.5,0,0,1,2.442.5,3.452,3.452,0,0,1,1.513,1.363A3.835,3.835,0,0,1,11.769-26.015ZM7.2-24.227A2.147,2.147,0,0,0,8.725-24.7a1.728,1.728,0,0,0,.5-1.319q0-1.805-2.018-1.805H5.238v3.593Zm7.575-4.23a1.51,1.51,0,0,1-1.088-.416,1.376,1.376,0,0,1-.434-1.035,1.376,1.376,0,0,1,.434-1.035,1.51,1.51,0,0,1,1.088-.416,1.51,1.51,0,0,1,1.088.416,1.376,1.376,0,0,1,.434,1.035,1.376,1.376,0,0,1-.434,1.035A1.51,1.51,0,0,1,14.778-28.457ZM16-27.289v9.805H13.521v-9.805Zm7.858,9.805L21.84-20.528l-1.788,3.044H17.4l3.2-4.92-3.239-4.885h2.8l2,3.027,1.805-3.027h2.655L23.4-22.4l3.257,4.92ZM37.114-22.6a5.847,5.847,0,0,1-.071.956H29.875a2.438,2.438,0,0,0,.743,1.664,2.292,2.292,0,0,0,1.611.6,2.023,2.023,0,0,0,1.965-1.186h2.673a4.466,4.466,0,0,1-1.628,2.327,4.754,4.754,0,0,1-2.956.912,5.115,5.115,0,0,1-2.54-.628,4.422,4.422,0,0,1-1.752-1.779,5.45,5.45,0,0,1-.628-2.655,5.552,5.552,0,0,1,.619-2.673,4.322,4.322,0,0,1,1.735-1.77,5.2,5.2,0,0,1,2.566-.619,5.155,5.155,0,0,1,2.5.6A4.235,4.235,0,0,1,36.5-25.139,5.169,5.169,0,0,1,37.114-22.6Zm-2.566-.708a1.965,1.965,0,0,0-.69-1.531,2.445,2.445,0,0,0-1.646-.575,2.249,2.249,0,0,0-1.549.558,2.451,2.451,0,0,0-.77,1.549Zm6.85-7.274v13.1H38.919v-13.1ZM43.2-22.422a5.675,5.675,0,0,1,.593-2.637,4.346,4.346,0,0,1,1.611-1.77,4.288,4.288,0,0,1,2.274-.619,4,4,0,0,1,1.92.442,3.9,3.9,0,0,1,1.319,1.115v-1.4h2.5v9.805h-2.5v-1.434A3.686,3.686,0,0,1,49.6-17.776a4.034,4.034,0,0,1-1.938.451,4.167,4.167,0,0,1-2.257-.637,4.459,4.459,0,0,1-1.611-1.8A5.769,5.769,0,0,1,43.2-22.422Zm7.717.035a3.178,3.178,0,0,0-.354-1.549,2.5,2.5,0,0,0-.956-.991,2.554,2.554,0,0,0-1.292-.345,2.51,2.51,0,0,0-1.274.336,2.532,2.532,0,0,0-.947.982,3.077,3.077,0,0,0-.363,1.531,3.178,3.178,0,0,0,.363,1.549,2.612,2.612,0,0,0,.956,1.018,2.428,2.428,0,0,0,1.265.354,2.554,2.554,0,0,0,1.292-.345,2.5,2.5,0,0,0,.956-.991A3.178,3.178,0,0,0,50.919-22.387Zm7.805-2.867v4.743a.937.937,0,0,0,.239.717,1.174,1.174,0,0,0,.805.221h1.15v2.088H59.362q-3.133,0-3.133-3.044v-4.726H55.061v-2.035h1.168v-2.425h2.5v2.425h2.195v2.035Zm13.1,2.655a5.848,5.848,0,0,1-.071.956H64.583a2.438,2.438,0,0,0,.743,1.664,2.292,2.292,0,0,0,1.611.6A2.023,2.023,0,0,0,68.9-20.564h2.673a4.466,4.466,0,0,1-1.628,2.327,4.754,4.754,0,0,1-2.956.912,5.115,5.115,0,0,1-2.54-.628A4.422,4.422,0,0,1,62.7-19.732a5.45,5.45,0,0,1-.628-2.655,5.552,5.552,0,0,1,.619-2.673,4.322,4.322,0,0,1,1.735-1.77,5.2,5.2,0,0,1,2.566-.619,5.155,5.155,0,0,1,2.5.6,4.235,4.235,0,0,1,1.717,1.708A5.169,5.169,0,0,1,71.822-22.6Zm-2.566-.708a1.965,1.965,0,0,0-.69-1.531,2.445,2.445,0,0,0-1.646-.575,2.249,2.249,0,0,0-1.549.558,2.451,2.451,0,0,0-.77,1.549Zm17.593-2.708a3.847,3.847,0,0,1-.469,1.858,3.445,3.445,0,0,1-1.469,1.4,5.343,5.343,0,0,1-2.522.531H80.318v4.743H77.84V-29.838h4.549a5.5,5.5,0,0,1,2.442.5,3.452,3.452,0,0,1,1.513,1.363A3.835,3.835,0,0,1,86.849-26.015Zm-4.566,1.788A2.147,2.147,0,0,0,83.8-24.7a1.728,1.728,0,0,0,.5-1.319q0-1.805-2.018-1.805H80.318v3.593Zm8.8-1.54a3.484,3.484,0,0,1,1.248-1.221,3.47,3.47,0,0,1,1.761-.442v2.6h-.655a2.51,2.51,0,0,0-1.761.549,2.529,2.529,0,0,0-.593,1.912v4.885H88.6v-9.805h2.478Zm9.027,8.442a5.165,5.165,0,0,1-2.549-.628,4.524,4.524,0,0,1-1.779-1.779,5.33,5.33,0,0,1-.646-2.655,5.217,5.217,0,0,1,.664-2.655A4.612,4.612,0,0,1,97.61-26.82a5.265,5.265,0,0,1,2.566-.628,5.265,5.265,0,0,1,2.566.628,4.612,4.612,0,0,1,1.814,1.779,5.217,5.217,0,0,1,.664,2.655,5.11,5.11,0,0,1-.681,2.655,4.719,4.719,0,0,1-1.841,1.779A5.353,5.353,0,0,1,100.105-17.325Zm0-2.159a2.578,2.578,0,0,0,1.265-.327,2.38,2.38,0,0,0,.947-.982,3.31,3.31,0,0,0,.354-1.593,2.952,2.952,0,0,0-.735-2.15,2.415,2.415,0,0,0-1.8-.752,2.358,2.358,0,0,0-1.779.752,3,3,0,0,0-.717,2.15,3.044,3.044,0,0,0,.7,2.15A2.3,2.3,0,0,0,100.105-19.484Zm9.823-5.77v4.743a.937.937,0,0,0,.239.717,1.174,1.174,0,0,0,.805.221h1.15v2.088h-1.558q-3.133,0-3.133-3.044v-4.726h-1.168v-2.035h1.168v-2.425h2.5v2.425h2.195v2.035Zm8.336,7.929a5.165,5.165,0,0,1-2.549-.628,4.524,4.524,0,0,1-1.779-1.779,5.33,5.33,0,0,1-.646-2.655,5.217,5.217,0,0,1,.664-2.655,4.612,4.612,0,0,1,1.814-1.779,5.265,5.265,0,0,1,2.566-.628,5.265,5.265,0,0,1,2.566.628,4.612,4.612,0,0,1,1.814,1.779,5.217,5.217,0,0,1,.664,2.655,5.11,5.11,0,0,1-.681,2.655,4.719,4.719,0,0,1-1.841,1.779A5.353,5.353,0,0,1,118.264-17.325Zm0-2.159a2.578,2.578,0,0,0,1.265-.327,2.38,2.38,0,0,0,.947-.982,3.31,3.31,0,0,0,.354-1.593,2.952,2.952,0,0,0-.735-2.15,2.415,2.415,0,0,0-1.8-.752,2.358,2.358,0,0,0-1.779.752,3,3,0,0,0-.717,2.15,3.044,3.044,0,0,0,.7,2.15A2.3,2.3,0,0,0,118.264-19.484Zm6.3-2.9a5.5,5.5,0,0,1,.619-2.664,4.428,4.428,0,0,1,1.717-1.77,4.967,4.967,0,0,1,2.513-.628,4.832,4.832,0,0,1,3.018.912,4.434,4.434,0,0,1,1.6,2.558h-2.673a1.954,1.954,0,0,0-.717-1,2.081,2.081,0,0,0-1.248-.363,2.044,2.044,0,0,0-1.681.77,3.408,3.408,0,0,0-.619,2.186,3.376,3.376,0,0,0,.619,2.168,2.044,2.044,0,0,0,1.681.77,1.879,1.879,0,0,0,1.965-1.345h2.673a4.523,4.523,0,0,1-1.611,2.531,4.746,4.746,0,0,1-3.009.938,4.967,4.967,0,0,1-2.513-.628,4.428,4.428,0,0,1-1.717-1.77A5.5,5.5,0,0,1,124.565-22.387Zm15.646,5.062a5.165,5.165,0,0,1-2.549-.628,4.524,4.524,0,0,1-1.779-1.779,5.33,5.33,0,0,1-.646-2.655,5.217,5.217,0,0,1,.664-2.655,4.612,4.612,0,0,1,1.814-1.779,5.265,5.265,0,0,1,2.566-.628,5.265,5.265,0,0,1,2.566.628,4.612,4.612,0,0,1,1.814,1.779,5.217,5.217,0,0,1,.664,2.655,5.11,5.11,0,0,1-.681,2.655,4.719,4.719,0,0,1-1.841,1.779A5.352,5.352,0,0,1,140.211-17.325Zm0-2.159a2.578,2.578,0,0,0,1.265-.327,2.38,2.38,0,0,0,.947-.982,3.31,3.31,0,0,0,.354-1.593,2.952,2.952,0,0,0-.734-2.15,2.415,2.415,0,0,0-1.8-.752,2.358,2.358,0,0,0-1.779.752,3,3,0,0,0-.717,2.15,3.044,3.044,0,0,0,.7,2.15A2.3,2.3,0,0,0,140.211-19.484Zm9.416-11.1v13.1h-2.478v-13.1Z" transform="translate(-9156.485 7839.59)" fill="#0e0f10"/>
        </g>
      </svg>
      
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="max-width: max-content; align-items: end;">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="justify-content: space-evenly; align-items:flex-end;">
          <% if (isAdmin) { %>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard" style="background-color: #e5a3a3; border-color: #0e0d10; --hover-color: #e5a3a3; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; margin:none; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;"><div style="margin: 2px; width: 120px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
              </svg></div>Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard/photos" style="background-color: #A3C6E5; border-color: #0e0d10; --hover-color: #A3C6E5; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; margin:none; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;"><div style="margin:2px; width: 120px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10"/>
        </svg></div>All Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/personal-gallery" aria-label="Gallery (Personal)" style="background-color: #e5a3a3; border-color: #0e0d10; --hover-color: #e5a3a3; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; margin:none; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;"><div style="margin: 2px; width: 120px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16" >
                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z"/>
              </svg></div>Gallery (Personal)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard/hashtags" style="background-color: #f2f086; border-color: #0e0d10; --hover-color: #f2f086; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; margin:none; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;"><div style="margin: 2px; width: 120px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16" >
                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
              </svg></div>Hashtags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="background-color: #ffffff; border-color: #0e0d10; --hover-color: #ffffff; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;">Logout<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16" style="margin-left: 20px; margin-right: 2px;">
                <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
              </svg></a>
            </li>
          <% } else if (user) { %>
            <li class="nav-item">
              <a class="nav-link" href="/profile" style="background-color: #A3C6E5; border-color: #0e0d10; --hover-color: #A3C6E5; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; margin:none; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;"><div style="margin:2px; width: 120px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10"/>
        </svg></div>Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/personal-gallery" aria-label="Gallery (Personal)" style="background-color: #e5a3a3; border-color: #0e0d10; --hover-color: #e5a3a3; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; margin:none; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;"><div style="margin: 2px; width: 120px;"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16" >
                <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z"/>
              </svg></div>Gallery (Personal)</a>
            </li>
            <li class="nav-item" style="mr-2; ml-2">
              <a class="nav-link" href="/admin/dashboard/hashtags" style="background-color: #f2f086; border-color: #0e0d10; --hover-color: #f2f086; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; margin:none; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;"><div style="margin: 2px;" width: 120px;><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4H2.19zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707z"/>
              </svg></div>Hashtags</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout" style="background-color: #ffffff; border-color: #0e0d10; --hover-color: #ffffff; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px; font-size: x-large; font-weight: 300; padding: 10px; box-shadow: #0e0d10 2px 2px 1px 3px;">Logout<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16" style="margin-left: 20px; margin-right: 2px;">
                <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"/>
              </svg></a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/" style="background-color: #A3C6E5; border-color: #0e0d10; --hover-color: #A3C6E5; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; border-radius: 4px;">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup" style="background-color: #A3C6E5; border-color: #0e0d10; --hover-color: #A3C6E5; color: #0e0d10;
              transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;border-radius: 4px;">Signup</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ... (rest of your HTML body content) ... -->

</body>

</html>
