<%- include('partials/header'); -%>


  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3">
        <form id="upload-single" enctype="multipart/form-data">
          <h2 class="fw-bold d-flex align-items-center mb-3" ><svg xmlns="http://www.w3.org/2000/svg" width="399.873" height="88" viewBox="0 0 399.873 88">
            <g id="Group_332" data-name="Group 332" transform="translate(9228 -7932)">
              <path id="Path_91" data-name="Path 91" d="M0,0H399.873V88H0Z" transform="translate(-9228 7932)" fill="#fff"/>
              <path id="Path_91_-_Outline" data-name="Path 91 - Outline" d="M2,2V86H397.873V2H2M0,0H399.873V88H0Z" transform="translate(-9228 7932)" fill="#0e0f10"/>
              <path id="Path_118" data-name="Path 118" d="M12.4.28a13.261,13.261,0,0,1-5.26-1A8.636,8.636,0,0,1,3.44-3.6a7.583,7.583,0,0,1-1.4-4.44h6A3.88,3.88,0,0,0,9.26-5.32a4.322,4.322,0,0,0,3.02,1,4.646,4.646,0,0,0,3.08-.94,3.057,3.057,0,0,0,1.12-2.46,2.842,2.842,0,0,0-.76-2.04,5.325,5.325,0,0,0-1.9-1.26,31.442,31.442,0,0,0-3.14-1.02,33.63,33.63,0,0,1-4.42-1.58,7.742,7.742,0,0,1-2.92-2.36A6.726,6.726,0,0,1,2.12-20.2a7.545,7.545,0,0,1,1.24-4.32,7.887,7.887,0,0,1,3.48-2.82,12.661,12.661,0,0,1,5.12-.98,11.108,11.108,0,0,1,7.02,2.1,7.785,7.785,0,0,1,2.98,5.86H15.8a3.2,3.2,0,0,0-1.22-2.38,4.6,4.6,0,0,0-3.02-.94,3.889,3.889,0,0,0-2.62.84,3.037,3.037,0,0,0-.98,2.44,2.522,2.522,0,0,0,.74,1.86,5.643,5.643,0,0,0,1.84,1.2q1.1.46,3.1,1.06a32.567,32.567,0,0,1,4.44,1.6,7.974,7.974,0,0,1,2.96,2.4,6.667,6.667,0,0,1,1.24,4.2,7.9,7.9,0,0,1-1.16,4.16,8.189,8.189,0,0,1-3.4,3.06A11.6,11.6,0,0,1,12.4.28ZM29.96-24.8a3.412,3.412,0,0,1-2.46-.94,3.11,3.11,0,0,1-.98-2.34,3.11,3.11,0,0,1,.98-2.34,3.412,3.412,0,0,1,2.46-.94,3.412,3.412,0,0,1,2.46.94,3.11,3.11,0,0,1,.98,2.34,3.11,3.11,0,0,1-.98,2.34A3.412,3.412,0,0,1,29.96-24.8Zm2.76,2.64V0h-5.6V-22.16Zm17.8-.32a8.541,8.541,0,0,1,6.4,2.5A9.571,9.571,0,0,1,59.36-13V0h-5.6V-12.24a5.746,5.746,0,0,0-1.32-4.06,4.675,4.675,0,0,0-3.6-1.42,4.79,4.79,0,0,0-3.66,1.42,5.692,5.692,0,0,0-1.34,4.06V0h-5.6V-22.16h5.6v2.76a7.736,7.736,0,0,1,2.86-2.26A8.847,8.847,0,0,1,50.52-22.48Zm22.84-.04a9.3,9.3,0,0,1,4.36.98A8.028,8.028,0,0,1,80.68-19v-3.16h5.64V.16a11.889,11.889,0,0,1-1.24,5.5A9.206,9.206,0,0,1,81.36,9.5a11.891,11.891,0,0,1-6,1.42,12.817,12.817,0,0,1-7.74-2.2,8.155,8.155,0,0,1-3.42-6h5.56a4.14,4.14,0,0,0,1.9,2.42,6.619,6.619,0,0,0,3.54.9,5.478,5.478,0,0,0,3.96-1.46A5.864,5.864,0,0,0,80.68.16V-3.28A8.507,8.507,0,0,1,77.7-.68,8.891,8.891,0,0,1,73.36.36a9.518,9.518,0,0,1-5.12-1.44,10.028,10.028,0,0,1-3.66-4.06,13.039,13.039,0,0,1-1.34-6.02,12.826,12.826,0,0,1,1.34-5.96,9.821,9.821,0,0,1,3.64-4A9.691,9.691,0,0,1,73.36-22.52Zm7.32,11.44a7.183,7.183,0,0,0-.8-3.5,5.64,5.64,0,0,0-2.16-2.24,5.773,5.773,0,0,0-2.92-.78,5.672,5.672,0,0,0-2.88.76,5.723,5.723,0,0,0-2.14,2.22,6.954,6.954,0,0,0-.82,3.46,7.183,7.183,0,0,0,.82,3.5,5.9,5.9,0,0,0,2.16,2.3,5.487,5.487,0,0,0,2.86.8,5.773,5.773,0,0,0,2.92-.78,5.64,5.64,0,0,0,2.16-2.24A7.183,7.183,0,0,0,80.68-11.08ZM97.4-29.6V0H91.8V-29.6Zm26.12,18.04a13.216,13.216,0,0,1-.16,2.16h-16.2a5.509,5.509,0,0,0,1.68,3.76,5.18,5.18,0,0,0,3.64,1.36,4.573,4.573,0,0,0,4.44-2.68h6.04a10.094,10.094,0,0,1-3.68,5.26A10.743,10.743,0,0,1,112.6.36a11.56,11.56,0,0,1-5.74-1.42,9.995,9.995,0,0,1-3.96-4.02,12.318,12.318,0,0,1-1.42-6,12.547,12.547,0,0,1,1.4-6.04,9.768,9.768,0,0,1,3.92-4,11.743,11.743,0,0,1,5.8-1.4,11.65,11.65,0,0,1,5.66,1.36,9.572,9.572,0,0,1,3.88,3.86A11.681,11.681,0,0,1,123.52-11.56Zm-5.8-1.6a4.441,4.441,0,0,0-1.56-3.46,5.527,5.527,0,0,0-3.72-1.3,5.083,5.083,0,0,0-3.5,1.26,5.54,5.54,0,0,0-1.74,3.5Zm25-14.76V0h-5.6V-27.92Zm33.04,5.44a8.9,8.9,0,0,1,6.58,2.5,9.435,9.435,0,0,1,2.5,6.98V0h-5.6V-12.24a5.536,5.536,0,0,0-1.32-3.98,4.746,4.746,0,0,0-3.6-1.38,4.813,4.813,0,0,0-3.62,1.38,5.485,5.485,0,0,0-1.34,3.98V0h-5.6V-12.24a5.536,5.536,0,0,0-1.32-3.98,4.746,4.746,0,0,0-3.6-1.38,4.865,4.865,0,0,0-3.66,1.38,5.485,5.485,0,0,0-1.34,3.98V0h-5.6V-22.16h5.6v2.68a7.453,7.453,0,0,1,2.78-2.2,8.673,8.673,0,0,1,3.74-.8,9.62,9.62,0,0,1,4.64,1.1,7.709,7.709,0,0,1,3.16,3.14,8.023,8.023,0,0,1,3.14-3.08A8.939,8.939,0,0,1,175.76-22.48Zm12.96,11.32a12.826,12.826,0,0,1,1.34-5.96,9.821,9.821,0,0,1,3.64-4,9.691,9.691,0,0,1,5.14-1.4,9.029,9.029,0,0,1,4.34,1A8.806,8.806,0,0,1,206.16-19v-3.16h5.64V0h-5.64V-3.24a8.33,8.33,0,0,1-2.98,2.58A9.118,9.118,0,0,1,198.8.36a9.417,9.417,0,0,1-5.1-1.44,10.078,10.078,0,0,1-3.64-4.06A13.039,13.039,0,0,1,188.72-11.16Zm17.44.08a7.183,7.183,0,0,0-.8-3.5,5.64,5.64,0,0,0-2.16-2.24,5.773,5.773,0,0,0-2.92-.78,5.672,5.672,0,0,0-2.88.76,5.723,5.723,0,0,0-2.14,2.22,6.954,6.954,0,0,0-.82,3.46,7.183,7.183,0,0,0,.82,3.5,5.9,5.9,0,0,0,2.16,2.3,5.487,5.487,0,0,0,2.86.8,5.773,5.773,0,0,0,2.92-.78,5.64,5.64,0,0,0,2.16-2.24A7.183,7.183,0,0,0,206.16-11.08Zm19.8-11.44a9.3,9.3,0,0,1,4.36.98A8.028,8.028,0,0,1,233.28-19v-3.16h5.64V.16a11.888,11.888,0,0,1-1.24,5.5,9.206,9.206,0,0,1-3.72,3.84,11.891,11.891,0,0,1-6,1.42,12.817,12.817,0,0,1-7.74-2.2,8.155,8.155,0,0,1-3.42-6h5.56a4.14,4.14,0,0,0,1.9,2.42,6.619,6.619,0,0,0,3.54.9,5.478,5.478,0,0,0,3.96-1.46A5.864,5.864,0,0,0,233.28.16V-3.28a8.507,8.507,0,0,1-2.98,2.6A8.891,8.891,0,0,1,225.96.36a9.518,9.518,0,0,1-5.12-1.44,10.028,10.028,0,0,1-3.66-4.06,13.039,13.039,0,0,1-1.34-6.02,12.826,12.826,0,0,1,1.34-5.96,9.821,9.821,0,0,1,3.64-4A9.691,9.691,0,0,1,225.96-22.52Zm7.32,11.44a7.183,7.183,0,0,0-.8-3.5,5.641,5.641,0,0,0-2.16-2.24,5.773,5.773,0,0,0-2.92-.78,5.672,5.672,0,0,0-2.88.76,5.723,5.723,0,0,0-2.14,2.22,6.954,6.954,0,0,0-.82,3.46,7.183,7.183,0,0,0,.82,3.5,5.9,5.9,0,0,0,2.16,2.3,5.487,5.487,0,0,0,2.86.8,5.773,5.773,0,0,0,2.92-.78,5.641,5.641,0,0,0,2.16-2.24A7.183,7.183,0,0,0,233.28-11.08ZM265-11.56a13.217,13.217,0,0,1-.16,2.16h-16.2a5.509,5.509,0,0,0,1.68,3.76,5.18,5.18,0,0,0,3.64,1.36,4.573,4.573,0,0,0,4.44-2.68h6.04a10.094,10.094,0,0,1-3.68,5.26A10.743,10.743,0,0,1,254.08.36a11.56,11.56,0,0,1-5.74-1.42,9.995,9.995,0,0,1-3.96-4.02,12.317,12.317,0,0,1-1.42-6,12.547,12.547,0,0,1,1.4-6.04,9.768,9.768,0,0,1,3.92-4,11.743,11.743,0,0,1,5.8-1.4,11.65,11.65,0,0,1,5.66,1.36,9.572,9.572,0,0,1,3.88,3.86A11.681,11.681,0,0,1,265-11.56Zm-5.8-1.6a4.441,4.441,0,0,0-1.56-3.46,5.527,5.527,0,0,0-3.72-1.3,5.083,5.083,0,0,0-3.5,1.26,5.54,5.54,0,0,0-1.74,3.5Z" transform="translate(-9141 7990)" fill="#0e0f10"/>
              <rect id="Rectangle_144" data-name="Rectangle 144" width="50" height="50" rx="4" transform="translate(-9210 7950)" fill="#458ccb"/>
              <path id="Rectangle_144_-_Outline" data-name="Rectangle 144 - Outline" d="M4,1A3,3,0,0,0,1,4V46a3,3,0,0,0,3,3H46a3,3,0,0,0,3-3V4a3,3,0,0,0-3-3H4M4,0H46a4,4,0,0,1,4,4V46a4,4,0,0,1-4,4H4a4,4,0,0,1-4-4V4A4,4,0,0,1,4,0Z" transform="translate(-9210 7950)" fill="#0e0f10"/>
              <g id="Icon_ionic-ios-image" data-name="Icon ionic-ios-image" transform="translate(-9206.375 7953.625)">
                <path id="Path_108" data-name="Path 108" d="M8.022,25.025H24.983a.5.5,0,0,0,.4-.783L16.9,10.6a.49.49,0,0,0-.809,0L7.613,24.242A.5.5,0,0,0,8.022,25.025Z" transform="translate(1.099 1.857)" fill="#fff"/>
                <path id="Path_109" data-name="Path 109" d="M21.583,18.641,24.7,23.595a.482.482,0,0,0,.4.213h4.732a.5.5,0,0,0,.4-.783l-5.479-7.8a.49.49,0,0,0-.809,0L21.574,18.08A.513.513,0,0,0,21.583,18.641Z" transform="translate(4.801 3.083)" fill="#fff"/>
                <path id="Path_110" data-name="Path 110" d="M25.261,12.846a2.49,2.49,0,1,0-2.731-2.731A2.5,2.5,0,0,0,25.261,12.846Z" transform="translate(5.072 1.193)" fill="#fff"/>
                <path id="Path_111" data-name="Path 111" d="M37.529,3.375H6.221A2.843,2.843,0,0,0,3.375,6.221V37.529a2.843,2.843,0,0,0,2.846,2.846H37.529a2.843,2.843,0,0,0,2.846-2.846V6.221A2.843,2.843,0,0,0,37.529,3.375Zm-.24,24.9a.714.714,0,0,1-.712.712H7.173a.714.714,0,0,1-.712-.712V7.173a.714.714,0,0,1,.712-.712H36.586a.714.714,0,0,1,.712.712V28.279Z" fill="#fff"/>
              </g>
            </g>
          </svg>
          </h2>
          <label for="image">Add image</label>
          <input type="file" class="form-control" id="image-input" name="photo" accept="image/jpeg, image/png, image/jpg" required />
          <label for="hastags">Hastags</label>
          <div class="hashtag-dropdown">
            <div class="selected-hashtags">
            </div>
            <input type="text" class="form-control" id="hashtag-input" placeholder="Select hashtags...">
            <ul class="hashtag-list">
              <% for (let hastag of hastags) { %>
                <li>#<%=hastag%>
                </li>
                <% } %>
                  <!-- Add more hashtags as needed -->
            </ul>
          </div>

          <div class="hastag error"></div>
          <button type="submit" class="mt-3 color=#458CCB" id="submit-button">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="51" viewBox="0 0 140 51">
              <defs>
                <filter id="Icon_material-add-a-photo" x="1.644" y="7.01" width="39.476" height="37.087" filterUnits="userSpaceOnUse">
                  <feOffset dy="2" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="2" result="blur"/>
                  <feFlood flood-opacity="0.451"/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="Upload" x="38" y="6" width="94" height="45" filterUnits="userSpaceOnUse">
                  <feOffset dy="3" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="3" result="blur-2"/>
                  <feFlood flood-opacity="0.161"/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
              </defs>
              <g id="Group_318" data-name="Group 318" transform="translate(8064 -7585.517)">
                <rect id="Rectangle_140" data-name="Rectangle 140" width="140" height="50" rx="5" transform="translate(-8064 7585.517)" fill="#0e0f10" opacity="0.132"/>
                <g transform="matrix(1, 0, 0, 1, -8064, 7585.52)" filter="url(#Icon_material-add-a-photo)">
                  <path id="Icon_material-add-a-photo-2" data-name="Icon material-add-a-photo" d="M3.584,5.084V1.5H5.973V5.084H9.557V7.473H5.973v3.584H3.584V7.473H0V5.084Zm3.584,7.168V8.668h3.584V5.084h8.362L21.3,7.473h3.787a2.4,2.4,0,0,1,2.389,2.389V24.2a2.4,2.4,0,0,1-2.389,2.389H5.973A2.4,2.4,0,0,1,3.584,24.2V12.252ZM15.53,23A5.973,5.973,0,1,0,9.557,17.03,5.975,5.975,0,0,0,15.53,23ZM11.707,17.03a3.823,3.823,0,1,0,3.823-3.823A3.819,3.819,0,0,0,11.707,17.03Z" transform="translate(7.64 9.51)" fill="#fff"/>
                </g>
                <g transform="matrix(1, 0, 0, 1, -8064, 7585.52)" filter="url(#Upload)">
                  <text id="Upload-2" data-name="Upload" transform="translate(47 32)" fill="#fff" font-size="19" font-family="Poppins-SemiBold, Poppins" font-weight="600"><tspan x="0" y="0">UPLOAD</tspan></text>
                </g>
              </g>
            </svg>
            
          </button>
        </form>
      </div>
      <div class="col-md-6 mt-3 ">
        <form id="upload-multiple" enctype="multipart/form-data">
          <h2 class="fw-bold d-flex align-items-center mb-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="434.876" height="88" viewBox="0 0 434.876 88">
            <g id="Group_331" data-name="Group 331" transform="translate(9228 -8078)">
              <path id="Path_116" data-name="Path 116" d="M0,0H434.876V88H0Z" transform="translate(-9228 8078)" fill="#fff"/>
              <path id="Path_116_-_Outline" data-name="Path 116 - Outline" d="M2,2V86H432.876V2H2M0,0H434.876V88H0Z" transform="translate(-9228 8078)" fill="#0e0f10"/>
              <path id="Path_117" data-name="Path 117" d="M33.2-27.92V0H27.6V-18.16L20.12,0H15.88L8.36-18.16V0H2.76V-27.92H9.12L18-7.16l8.88-20.76Zm26.44,5.76V0H54V-2.8A7.393,7.393,0,0,1,51.18-.54,8.754,8.754,0,0,1,47.4.28a9.389,9.389,0,0,1-4.6-1.1,7.754,7.754,0,0,1-3.14-3.24,10.706,10.706,0,0,1-1.14-5.1v-13h5.6v12.2A5.746,5.746,0,0,0,45.44-5.9a4.675,4.675,0,0,0,3.6,1.42A4.726,4.726,0,0,0,52.68-5.9,5.746,5.746,0,0,0,54-9.96v-12.2ZM70.76-29.6V0h-5.6V-29.6ZM82.8-17.56V-6.84a2.119,2.119,0,0,0,.54,1.62,2.653,2.653,0,0,0,1.82.5h2.6V0H84.24q-7.08,0-7.08-6.88V-17.56H74.52v-4.6h2.64v-5.48H82.8v5.48h4.96v4.6ZM94.64-24.8a3.412,3.412,0,0,1-2.46-.94,3.11,3.11,0,0,1-.98-2.34,3.11,3.11,0,0,1,.98-2.34,3.412,3.412,0,0,1,2.46-.94,3.412,3.412,0,0,1,2.46.94,3.11,3.11,0,0,1,.98,2.34,3.11,3.11,0,0,1-.98,2.34A3.412,3.412,0,0,1,94.64-24.8Zm2.76,2.64V0H91.8V-22.16Zm11.12,3.2a8.5,8.5,0,0,1,2.98-2.54,9.031,9.031,0,0,1,4.34-1.02,9.691,9.691,0,0,1,5.14,1.4,9.85,9.85,0,0,1,3.64,3.98,12.794,12.794,0,0,1,1.34,5.98,13.039,13.039,0,0,1-1.34,6.02,10.078,10.078,0,0,1-3.64,4.06A9.488,9.488,0,0,1,115.84.36a8.942,8.942,0,0,1-4.3-1,9.225,9.225,0,0,1-3.02-2.52V10.56h-5.6V-22.16h5.6Zm11.72,7.8a6.954,6.954,0,0,0-.82-3.46,5.677,5.677,0,0,0-2.16-2.22,5.78,5.78,0,0,0-2.9-.76,5.593,5.593,0,0,0-2.86.78,5.789,5.789,0,0,0-2.16,2.26,7.068,7.068,0,0,0-.82,3.48,7.068,7.068,0,0,0,.82,3.48,5.789,5.789,0,0,0,2.16,2.26,5.593,5.593,0,0,0,2.86.78,5.558,5.558,0,0,0,2.9-.8,5.939,5.939,0,0,0,2.16-2.28A7.155,7.155,0,0,0,120.24-11.16Zm15.4-18.44V0h-5.6V-29.6Zm26.12,18.04a13.215,13.215,0,0,1-.16,2.16H145.4a5.509,5.509,0,0,0,1.68,3.76,5.18,5.18,0,0,0,3.64,1.36,4.573,4.573,0,0,0,4.44-2.68h6.04a10.094,10.094,0,0,1-3.68,5.26A10.743,10.743,0,0,1,150.84.36a11.56,11.56,0,0,1-5.74-1.42,9.995,9.995,0,0,1-3.96-4.02,12.317,12.317,0,0,1-1.42-6,12.547,12.547,0,0,1,1.4-6.04,9.768,9.768,0,0,1,3.92-4,11.743,11.743,0,0,1,5.8-1.4,11.65,11.65,0,0,1,5.66,1.36,9.571,9.571,0,0,1,3.88,3.86A11.681,11.681,0,0,1,161.76-11.56Zm-5.8-1.6a4.441,4.441,0,0,0-1.56-3.46,5.527,5.527,0,0,0-3.72-1.3,5.083,5.083,0,0,0-3.5,1.26,5.54,5.54,0,0,0-1.74,3.5Zm25-14.76V0h-5.6V-27.92ZM214-22.48a8.9,8.9,0,0,1,6.58,2.5,9.435,9.435,0,0,1,2.5,6.98V0h-5.6V-12.24a5.536,5.536,0,0,0-1.32-3.98,4.746,4.746,0,0,0-3.6-1.38,4.813,4.813,0,0,0-3.62,1.38,5.485,5.485,0,0,0-1.34,3.98V0H202V-12.24a5.536,5.536,0,0,0-1.32-3.98,4.746,4.746,0,0,0-3.6-1.38,4.865,4.865,0,0,0-3.66,1.38,5.485,5.485,0,0,0-1.34,3.98V0h-5.6V-22.16h5.6v2.68a7.453,7.453,0,0,1,2.78-2.2,8.673,8.673,0,0,1,3.74-.8,9.62,9.62,0,0,1,4.64,1.1,7.709,7.709,0,0,1,3.16,3.14,8.023,8.023,0,0,1,3.14-3.08A8.939,8.939,0,0,1,214-22.48Zm12.96,11.32a12.826,12.826,0,0,1,1.34-5.96,9.821,9.821,0,0,1,3.64-4,9.691,9.691,0,0,1,5.14-1.4,9.029,9.029,0,0,1,4.34,1A8.806,8.806,0,0,1,244.4-19v-3.16h5.64V0H244.4V-3.24a8.329,8.329,0,0,1-2.98,2.58A9.118,9.118,0,0,1,237.04.36a9.417,9.417,0,0,1-5.1-1.44,10.078,10.078,0,0,1-3.64-4.06A13.039,13.039,0,0,1,226.96-11.16Zm17.44.08a7.183,7.183,0,0,0-.8-3.5,5.641,5.641,0,0,0-2.16-2.24,5.773,5.773,0,0,0-2.92-.78,5.672,5.672,0,0,0-2.88.76,5.723,5.723,0,0,0-2.14,2.22,6.954,6.954,0,0,0-.82,3.46,7.183,7.183,0,0,0,.82,3.5,5.9,5.9,0,0,0,2.16,2.3,5.487,5.487,0,0,0,2.86.8,5.773,5.773,0,0,0,2.92-.78,5.641,5.641,0,0,0,2.16-2.24A7.183,7.183,0,0,0,244.4-11.08Zm19.8-11.44a9.3,9.3,0,0,1,4.36.98A8.028,8.028,0,0,1,271.52-19v-3.16h5.64V.16a11.888,11.888,0,0,1-1.24,5.5A9.206,9.206,0,0,1,272.2,9.5a11.891,11.891,0,0,1-6,1.42,12.817,12.817,0,0,1-7.74-2.2,8.155,8.155,0,0,1-3.42-6h5.56a4.14,4.14,0,0,0,1.9,2.42,6.619,6.619,0,0,0,3.54.9A5.478,5.478,0,0,0,270,4.58,5.864,5.864,0,0,0,271.52.16V-3.28a8.507,8.507,0,0,1-2.98,2.6A8.891,8.891,0,0,1,264.2.36a9.518,9.518,0,0,1-5.12-1.44,10.028,10.028,0,0,1-3.66-4.06,13.039,13.039,0,0,1-1.34-6.02,12.826,12.826,0,0,1,1.34-5.96,9.822,9.822,0,0,1,3.64-4A9.691,9.691,0,0,1,264.2-22.52Zm7.32,11.44a7.183,7.183,0,0,0-.8-3.5,5.641,5.641,0,0,0-2.16-2.24,5.773,5.773,0,0,0-2.92-.78,5.671,5.671,0,0,0-2.88.76,5.723,5.723,0,0,0-2.14,2.22,6.954,6.954,0,0,0-.82,3.46,7.183,7.183,0,0,0,.82,3.5,5.9,5.9,0,0,0,2.16,2.3,5.487,5.487,0,0,0,2.86.8,5.773,5.773,0,0,0,2.92-.78,5.641,5.641,0,0,0,2.16-2.24A7.183,7.183,0,0,0,271.52-11.08Zm31.72-.48a13.217,13.217,0,0,1-.16,2.16h-16.2a5.509,5.509,0,0,0,1.68,3.76,5.18,5.18,0,0,0,3.64,1.36,4.573,4.573,0,0,0,4.44-2.68h6.04A10.094,10.094,0,0,1,299-1.7,10.743,10.743,0,0,1,292.32.36a11.56,11.56,0,0,1-5.74-1.42,9.995,9.995,0,0,1-3.96-4.02,12.318,12.318,0,0,1-1.42-6,12.547,12.547,0,0,1,1.4-6.04,9.768,9.768,0,0,1,3.92-4,11.743,11.743,0,0,1,5.8-1.4,11.65,11.65,0,0,1,5.66,1.36,9.572,9.572,0,0,1,3.88,3.86A11.681,11.681,0,0,1,303.24-11.56Zm-5.8-1.6a4.441,4.441,0,0,0-1.56-3.46,5.527,5.527,0,0,0-3.72-1.3,5.083,5.083,0,0,0-3.5,1.26,5.54,5.54,0,0,0-1.74,3.5ZM315.8.36a11.685,11.685,0,0,1-4.88-.98,8.623,8.623,0,0,1-3.42-2.66A6.741,6.741,0,0,1,306.12-7h5.64a3.072,3.072,0,0,0,1.26,2.12,4.383,4.383,0,0,0,2.74.84,4.255,4.255,0,0,0,2.5-.64,1.937,1.937,0,0,0,.9-1.64,1.729,1.729,0,0,0-1.1-1.62,20.7,20.7,0,0,0-3.5-1.18,29.659,29.659,0,0,1-4.06-1.24,7.048,7.048,0,0,1-2.72-1.96,5.26,5.26,0,0,1-1.14-3.56,5.744,5.744,0,0,1,1.06-3.36,7.117,7.117,0,0,1,3.04-2.4,11.4,11.4,0,0,1,4.66-.88,9.515,9.515,0,0,1,6.32,1.98,7.336,7.336,0,0,1,2.6,5.34h-5.36a2.9,2.9,0,0,0-1.1-2.1,4.088,4.088,0,0,0-2.62-.78,4.128,4.128,0,0,0-2.34.56,1.785,1.785,0,0,0-.82,1.56,1.833,1.833,0,0,0,1.12,1.7,17.392,17.392,0,0,0,3.48,1.18,29.539,29.539,0,0,1,3.96,1.24,7,7,0,0,1,2.7,1.98,5.437,5.437,0,0,1,1.18,3.54,5.87,5.87,0,0,1-1.06,3.44A6.982,6.982,0,0,1,320.42-.5,11.518,11.518,0,0,1,315.8.36Z" transform="translate(-9139 8136)" fill="#0e0f10"/>
              <rect id="Rectangle_145" data-name="Rectangle 145" width="50" height="50" rx="4" transform="translate(-9208 8096)" fill="#458ccb"/>
              <path id="Rectangle_145_-_Outline" data-name="Rectangle 145 - Outline" d="M4,1A3,3,0,0,0,1,4V46a3,3,0,0,0,3,3H46a3,3,0,0,0,3-3V4a3,3,0,0,0-3-3H4M4,0H46a4,4,0,0,1,4,4V46a4,4,0,0,1-4,4H4a4,4,0,0,1-4-4V4A4,4,0,0,1,4,0Z" transform="translate(-9208 8096)" fill="#0e0f10"/>
              <g id="Icon_ionic-ios-images" data-name="Icon ionic-ios-images" transform="translate(-9203.25 8100.765)">
                <path id="Path_112" data-name="Path 112" d="M19.678,14.035a.392.392,0,0,0-.636-.058l-7.588,10.09a.386.386,0,0,0,.264.636l13.3,1.156a.393.393,0,0,0,.372-.586Z" transform="translate(1.589 2.021)" fill="#fff"/>
                <path id="Path_113" data-name="Path 113" d="M26.231,18.6a.392.392,0,0,0-.636-.058l-2.048,2.073a.386.386,0,0,0-.041.446l2.1,4.087a.385.385,0,0,0,.306.19l3.708.322a.393.393,0,0,0,.372-.586Z" transform="translate(3.697 2.817)" fill="#fff"/>
                <path id="Path_114" data-name="Path 114" d="M26.881,16.358a1.953,1.953,0,1,0-1.957-2.32A1.968,1.968,0,0,0,26.881,16.358Z" transform="translate(3.948 1.779)" fill="#fff"/>
                <path id="Path_115" data-name="Path 115" d="M37.195,10.285l-5.433-.471-.5-5.532a2.231,2.231,0,0,0-2.436-2.023L4.29,4.471A2.24,2.24,0,0,0,2.258,6.9L4.471,31.382A2.231,2.231,0,0,0,6.907,33.4l1.3-.116L8.08,34.668a2.233,2.233,0,0,0,2.04,2.419l24.549,2.139A2.24,2.24,0,0,0,37.1,37.195L39.243,12.7A2.25,2.25,0,0,0,37.195,10.285ZM6.841,24.438a.568.568,0,0,1-.611-.5L4.744,7.419a.556.556,0,0,1,.5-.6L28.3,4.744a.568.568,0,0,1,.611.5l.4,4.36L12.654,8.146a2.24,2.24,0,0,0-2.428,2.031L9,24.239Zm29.908-11.2L35.3,29.755a.562.562,0,0,1-.6.512l-1.536-.132L11.639,28.261a.562.562,0,0,1-.512-.6l.314-3.625,1.131-12.89a.562.562,0,0,1,.6-.512L29.524,12.06l2.452.215,4.261.372A.539.539,0,0,1,36.749,13.241Z" transform="translate(0)" fill="#fff"/>
              </g>
            </g>
          </svg>
          </h2>
          <label for="image">Add images</label>
          <input type="file" name="images" class="form-control" id="image-input-multiple" accept="image/jpeg, image/png" required multiple />
          <label for="hastags">Hastags</label>
          <div class="hashtag-dropdown-multiple">
            <div class="selected-hashtags-multiple">
            </div>
            <input type="text" class="form-control" id="hashtag-input-multiple" placeholder="Select hashtags...">
            <ul class="hashtag-list-multiple">
              <% for (let hastag of hastags) { %>
                <li>#<%=hastag%>
                </li>
                <% } %>
                  <!-- Add more hashtags as needed -->
            </ul>
          </div>
          <div class="hastag error"></div>
          <button type="submit" class="mt-3 color=#458CCB">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="140" height="51" viewBox="0 0 140 51">
              <defs>
                <filter id="Icon_material-add-a-photo" x="1.644" y="7.01" width="39.476" height="37.087" filterUnits="userSpaceOnUse">
                  <feOffset dy="2" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="2" result="blur"/>
                  <feFlood flood-opacity="0.451"/>
                  <feComposite operator="in" in2="blur"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
                <filter id="Upload" x="38" y="6" width="94" height="45" filterUnits="userSpaceOnUse">
                  <feOffset dy="3" input="SourceAlpha"/>
                  <feGaussianBlur stdDeviation="3" result="blur-2"/>
                  <feFlood flood-opacity="0.161"/>
                  <feComposite operator="in" in2="blur-2"/>
                  <feComposite in="SourceGraphic"/>
                </filter>
              </defs>
              <g id="Group_318" data-name="Group 318" transform="translate(8064 -7585.517)">
                <rect id="Rectangle_140" data-name="Rectangle 140" width="140" height="50" rx="5" transform="translate(-8064 7585.517)" fill="#0e0f10" opacity="0.132"/>
                <g transform="matrix(1, 0, 0, 1, -8064, 7585.52)" filter="url(#Icon_material-add-a-photo)">
                  <path id="Icon_material-add-a-photo-2" data-name="Icon material-add-a-photo" d="M3.584,5.084V1.5H5.973V5.084H9.557V7.473H5.973v3.584H3.584V7.473H0V5.084Zm3.584,7.168V8.668h3.584V5.084h8.362L21.3,7.473h3.787a2.4,2.4,0,0,1,2.389,2.389V24.2a2.4,2.4,0,0,1-2.389,2.389H5.973A2.4,2.4,0,0,1,3.584,24.2V12.252ZM15.53,23A5.973,5.973,0,1,0,9.557,17.03,5.975,5.975,0,0,0,15.53,23ZM11.707,17.03a3.823,3.823,0,1,0,3.823-3.823A3.819,3.819,0,0,0,11.707,17.03Z" transform="translate(7.64 9.51)" fill="#fff"/>
                </g>
                <g transform="matrix(1, 0, 0, 1, -8064, 7585.52)" filter="url(#Upload)">
                  <text id="Upload-2" data-name="Upload" transform="translate(47 32)" fill="#fff" font-size="19" font-family="Poppins-SemiBold, Poppins" font-weight="600"><tspan x="0" y="0">UPLOAD</tspan></text>
                </g>
              </g>
            </svg>
            
          </button>
        </form>
      </div>
    </div>
  </div>

  <footer>House of Pixels OPC Pvt Ltd for copyright &#169;</footer>


  <script>

    const hashtagInput = document.getElementById('hashtag-input');
    const hashtagList = document.querySelector('.hashtag-list');
    hashtagList.style.display = 'none';
    const selectedHashtags = document.querySelector('.selected-hashtags');
    const selectedHashtagsList = [];

    const hashtagInputMultiple = document.getElementById('hashtag-input-multiple');
    const hashtagListMultiple = document.querySelector('.hashtag-list-multiple');
    hashtagListMultiple.style.display = 'none';
    const selectedHashtagsMultiple = document.querySelector('.selected-hashtags-multiple');
    const selectedHashtagsMultipleList = [];

    hashtagInput.addEventListener('input', () => {
      const inputText = hashtagInput.value.toLowerCase();
      const hashtags = Array.from(hashtagList.querySelectorAll('li'));

      if (inputText) {
        hashtagList.style.display = 'block';
      } else {
        hashtagList.style.display = 'none';
      }

      hashtags.forEach((hashtag) => {
        const text = hashtag.textContent.toLowerCase();
        if (text.includes(inputText)) {
          hashtag.style.display = 'block';
        } else {
          hashtag.style.display = 'none';
        }
      });
    });

    hashtagInputMultiple.addEventListener('input', () => {
      const inputText = hashtagInputMultiple.value.toLowerCase();
      const hashtags = Array.from(hashtagListMultiple.querySelectorAll('li'));

      if (inputText) {
        hashtagListMultiple.style.display = 'block';
      } else {
        hashtagListMultiple.style.display = 'none';
      }

      hashtags.forEach((hashtag) => {
        const text = hashtag.textContent.toLowerCase();
        if (text.includes(inputText)) {
          hashtag.style.display = 'block';
        } else {
          hashtag.style.display = 'none';
        }
      });
    });

    hashtagList.addEventListener('click', (event) => {
      if (event.target.tagName === 'LI') {
        const selectedHashtag = document.createElement('div');
        selectedHashtag.textContent = event.target.textContent;
        selectedHashtag.className = 'selected-hashtag';
        selectedHashtags.appendChild(selectedHashtag);
        selectedHashtagsList.push(event.target.textContent);
        console.log(selectedHashtagsList);
        hashtagInput.value = '';
        hashtagList.style.display = 'none';
      }
    });

    hashtagListMultiple.addEventListener('click', (event) => {
      if (event.target.tagName === 'LI') {
        const selectedHashtag = document.createElement('div');
        selectedHashtag.textContent = event.target.textContent;
        selectedHashtag.className = 'selected-hashtag';
        selectedHashtagsMultiple.appendChild(selectedHashtag);
        selectedHashtagsMultipleList.push(event.target.textContent);
        console.log(selectedHashtagsMultipleList);
        hashtagInputMultiple.value = '';
        hashtagListMultiple.style.display = 'none';
      }
    });

    selectedHashtags.addEventListener('click', (event) => {
      if (event.target.tagName === 'DIV') {
        var index = selectedHashtagsList.indexOf(event.target.textContent);
        if (index > -1) {
          selectedHashtagsList.splice(index, 1);
        }
        console.log(selectedHashtagsList);
        event.target.remove();
      }
    });

    selectedHashtagsMultiple.addEventListener('click', (event) => {
      if (event.target.tagName === 'DIV') {
        var index = selectedHashtagsMultipleList.indexOf(event.target.textContent);
        if (index > -1) {
          selectedHashtagsMultipleList.splice(index, 1);
        }
        console.log(selectedHashtagsMultipleList);
        event.target.remove();
      }
    });

    const formSingle = document.getElementById('upload-single');
    formSingle.addEventListener('submit', async (e) => {
      e.preventDefault();
      const imageInput = document.getElementById('image-input');
      const image = imageInput.files[0];
      // console.log(image);

      const formData = new FormData();
      formData.append('photo', image);
      formData.append('hashtags', JSON.stringify(selectedHashtagsList));

      console.log(formData);

      try {
        const res = await fetch('/upload', {
          method: 'POST',
          body: formData,
        });
      }
      catch (err) {
        console.log(err);
      }
    });

    const formMultiple = document.getElementById('upload-multiple');
    formMultiple.addEventListener('submit', async (e) => {
      e.preventDefault();
      const imageInput = document.getElementById('image-input-multiple');
      const images = imageInput.files;


      const formData = new FormData();

      for (let i = 0; i < images.length; i++) {
        formData.append('images', images[i]);
      }
      formData.append('hashtagsMultiple', JSON.stringify(selectedHashtagsMultipleList));

      // console.log(formData);

      try {
        const res = await fetch('/upload-multiple', {
          method: 'POST',
          body: formData,
        });
      }
      catch (err) {
        console.log(err);
      }
    });


  </script>

  </body>

  </html>
