<%- include('partials/header'); -%>
<%- include('partials/sidebar'); -%>

  <form action="/signup" style="border: 2px solid #0e0d10; padding: 50px; border-radius: 6px; box-shadow: #0e0d10 2px 2px 1px 2px;">
    <input type="hidden" id="csrfToken" name="_csrf" value="<%= csrfToken %>">
    <h2 class="none" style="border: 2px #0e0d10; background: #cad3db; padding: 25px; font-weight: 300; box-shadow: #0e0d10 1px 1px 1px 2px; border-radius: 2px;">Sign up</h2>
    <label for="name-field">Name</label>
    <input type="text" id="name-field" class="form-control" name="author" autocomplete="name" required />
    <label for="email-field">Email</label>
    <input type="text" id="email-field" class="form-control" name="email" autocomplete="email" required />
    <div class="email error"></div>
    <label for="password-field">Password</label>
    <input type="password" id="password-field" class="form-control" name="password" autocomplete="new-password" required />
    <div class="password error"></div>
    <button class="mt-3" style="border: 1px #0e0d10; background: #458CCB; box-shadow: #0e0d10 2px 2px 1px 2px; border-radius: 3px;">Sign up</button>
 <!-- Google Sign-Up button -->
 <div id="googleSignUpBtn" style="border: 1px #0e0d10; background: #9effa8; box-shadow: #0e0d10 1px 1px 1px 2px; border-radius: 3px; height: 40px; width: 100%; text-align: center; cursor: pointer; padding-top: 5px;" class="mt-3"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16" style="margin-right: 10px;">
  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
</svg> Google Sign-Up</div>
  </form>

  <footer>House of Pixels OPC Pvt Ltd for copyright &#169;</footer>

  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

  <script type="module">

    import firebaseConfig from '/firebaseConfig.js';

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)

    const form = document.querySelector('form');
    const emailError = document.querySelector('.email.error');
    const passError = document.querySelector('.password.error');
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      // reset errors
      emailError.textContent = '';
      passError.textContent = '';

      // get values
      const email = form.email.value;
      const password = form.password.value;
      const author = form.author.value;

      try {
        const res = await fetch('/signup', {
          method: 'POST',
          body: JSON.stringify({ email, password, author }),
          headers: { 'Content-Type': 'application/json', 'CSRF-Token': csrfToken }
        });
        const data = await res.json();
        console.log(data);
        if (data.errors) {
          emailError.textContent = data.errors.email;
          passError.textContent = data.errors.password;
        }
        if (data.uid) {
          location.assign('/');
        }
      }
      catch (err) {
        console.log(err);
      }
    });

// Google Sign-Up initialization
function initGoogleSignUp() {
    const googleSignUpBtn = document.getElementById('googleSignUpBtn');

    const provider = new firebase.auth.GoogleAuthProvider();

    googleSignUpBtn.addEventListener('click', () => {
      firebase.auth().signInWithPopup(provider)
        .then((result) => {
          const { user } = result;
          // Use user information to create a new user profile or perform necessary actions
          // For example, you can save user data to your database
          console.log('New user signed up:', user);
        })
        .catch((error) => {
          console.log('Error signing up:', error);
        });
    });
  }

  // Call the function to initialize Google Sign-Up button
  initGoogleSignUp();

  </script>

  </body>

  </html>
