/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

body {
  margin: 20px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  background: #0d0d0d;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #f2f2f2;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #000;
  border-radius: 2px;
  background: #fff;
}

.section {
  margin-bottom: 20px;
  padding: 30px;
  border: 2px solid #000;
  border-radius: 2px;
  background: #fff;
}

/* Existing CSS styles */
/* Add styles for the Masonry layout */
/* Add styles for the Masonry layout */
/* Add styles for the Masonry layout */
/* Add styles for the Masonry layout */
.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 16px;
}

.masonry .mItem {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.masonry .mItem img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* Adjusted expanded styles */
.masonry .mItem img.expanded {
  transform: scale(1.2); /* Zoom in effect */
}


.selected-hashtag {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #0e0f10;
  border-radius: 20px;
  background-color:#f2f086;
  box-shadow: #0e0d10 0.5px 1px 0px 1.5px;
  color: #0e0d10;
  cursor: pointer;

}

.header-box {
  padding: 10px;
  border: 1px solid #0e0d10;
  background-color: #f5f5f5;
}
.section-header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 4px solid #000;
}

h1, h2, h3, h4, ul, li, a, p, input, label, button, footer {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color:#0e0f10;
  font-weight: 500;
  letter-spacing: 0.5px;
  
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222;
}

.btn {
  border-radius: 2px;
  background: #458CCB;
  border: 2px solid #0e0f10;
  color: #000;
  padding: 12px 24px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
}

.btn:hover {
  background: #458CCB;
  border-color: #0e0f10;
}

form {
  max-width: 360px;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

input {
  padding: 12px;
  border-radius: 2px; 
  border: 2px solid #000;
  font-size: 1.2em;
  width: 100%;
  color: #222;
  background-color: #fff;
}

label {
  display: block;
  margin: 20px 0 10px;
  color: #444;
}

button {
  margin-top: 20px;
  border-radius: 2px;
  background: #458CCB;
  border: 0;
  font-weight: bold;
  font-size: 1.25em;
  display: block;
  padding: 12px 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background: #497fae;
}

.recipe {
  border-radius: 2px;
  background: #FFC813;
  border: 4px solid #000;
  padding: 20px;
  text-align: center;
  box-shadow: none;
}

.recipe img {
  width: 120px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #999;
}
